<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large '>
        {{pageTitle}}
    </div>
    {{job.bde_sitename}}
    <br>
    {{job.bdedsn}}
    <br>
    {{job.created }}
    <br>
    {{job.esx_pass}}
    <br>
    {{job.esx_server}}
    <br>
    {{job.esx_user}}
    <br>
    {{job.fixlet_id }}
    <br>
    {{job.jobid }}
    <br>
    {{job.jobtype }}
    <br>
    {{job.mui }}
    <br>
    {{job.pid }}
    <br>
    {{job.pid_new }}
    <br>
    {{job.remove_url_structure}}
    <br>
    {{job.run_check }}
    <br>
    {{job.run_check_new }}
    <br>
    {{job.runid }}
    <br>
    {{job.runid_new }}
    <br>
    {{job.scheduled }}
    <br>
    {{job.state }}
    <br>
    {{job.state_new }}
    <br>
    {{job.version }}
    <br>
    {{job.vmsafety_off}}
    <br>
    {{job.id}}
    
    <div>

    </div>
</div>